{% extends 'registration/base.html' %}

{% block content %}
    {% if validlink %}
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-5 fw-bold lh-1 mb-3">Забыли пароль?</h1>
                    <p class="col-lg-10 fs-4">Ничего страшного. Введите новый такой, который точно не забудете.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-5 p-md-3 border rounded-3 bg-light needs-validation" action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Новый пароль</label>
                            <input type="password" class="form-control" name="{{ form.new_password1.html_name }}"
                                   required style="max-width: 500px; margin-right: auto; margin-left: auto;">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Снова новый пароль</label>
                            <input type="password" class="form-control" name="{{ form.new_password2.html_name }}"
                                   required style="max-width: 500px; margin-right: auto; margin-left: auto;">
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Изменить</button>
                        <hr class="my-4">
                        <small class="text-muted">Пароль должен состоять не менее, чем из 5 символов, при этом содержать
                            как буквы, так и цифры.</small>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br/>
            possibly because it has already been used. <br/>
            Please request a new password reset.</p>
    {% endif %}
{% endblock %}