{% extends 'registration/base.html' %}

{% block content %}
    <section class="vh-100">
        <div class="container h-100" style="margin-top: -56px">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div style="border-radius: 15px; background-color: #ececec">
                        <div class="card-body p-5 text-center">
                            <form class="needs-validation" action="" method="POST">
                                {% csrf_token %}
                                <h3 class="mb-5">Восстановление пароля</h3>
                                <p class="text-start">Чтобы восстановить пароль, мы отправим Вам ссылку на адрес
                                    электронной почты, к которой привязан аккаунт.</p>
                                <div class="form-floating mb-4">
                                    <input type="email" class="form-control"
                                           placeholder="Email" style="border-radius: 10px;"
                                           maxlength="32"
                                           name="{{ form.email.html_name }}"
                                           value="{{ form.email.value|default_if_none:"" }}"
                                           required>
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="d-grid gap-4">
                                    <button class="btn btn-lg btn-primary" type="submit"
                                            style="border-radius: 10px;">Отправить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert" style="margin-top: 15px; border-radius: 15px;">
                            <ul>
                                {% for error_field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}