{% extends 'registration/base.html' %}

{% block content %}
    <section class="vh-100">
        <div class="container h-100" style="margin-top: -56px">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div style="border-radius: 15px; background-color: #ececec">
                        <div class="card-body p-5 text-center" style="margin: 80px 0px 25px 0px">
                            {% if validlink %}
                                <form class="needs-validation" action="" method="POST">
                                    {% csrf_token %}
                                    <h3 class="mb-5">Восстановление пароля</h3>
                                    <p class="text-start">Осталось только установить новый пароль на Ваш аккаунт. Чур
                                        больше не забывать!</p>
                                    <div class="form-floating mb-4">
                                        <input type="password" class="form-control"
                                               placeholder="Пароль" style="border-radius: 10px;"
                                               maxlength="32"
                                               name="{{ form.new_password1.html_name }}"
                                               required>
                                        <label for="floatingInput">Пароль</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="password" class="form-control"
                                               placeholder="Еще раз пароль" style="border-radius: 10px;"
                                               maxlength="32"
                                               name="{{ form.new_password2.html_name }}"
                                               required>
                                        <label for="floatingInput">Еще раз пароль</label>
                                    </div>
                                    <div class="d-grid gap-4">
                                        <button class="btn btn-lg btn-primary" type="submit"
                                                style="border-radius: 10px;">Установить
                                        </button>
                                    </div>
                                </form>
                            {% else %}
                                <h3 class="mb-5">Восстановление пароля</h3>
                                <p class="text-start">К сожалению, эта ссылка на восстановление пароля уже не работает.
                                    Попробуйте отправить письмо еще раз!</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert" style="margin-top: 15px; border-radius: 15px;">
                            <ul>
                                {% for error_field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}