{% extends 'registration/base.html' %}

{% block content %}
    <section class="vh-100">
        <div class="container h-100" style="margin-top: -56px">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div style="border-radius: 15px; background-color: #ececec">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Восстановление пароля</h3>
                            <p class="text-start">Проверьте, пожалуйста, свой почтовый ящик! Письмо со ссылкой для
                                восстановления пароля уже отправлено.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}