{% extends 'base.html' %}

{% block content %}
    <section class="vh-100">
        <div class="container h-100" style="margin-top: -56px">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div style="border-radius: 15px; background-color: #ececec">
                        <div class="card-body p-5 text-center">
                            <form class="needs-validation" action="" method="POST">
                                {% csrf_token %}
                                <h3 class="mb-5">Регистрация</h3>
                                <div class="form-floating mb-4">
                                    <input type="email" class="form-control"
                                           placeholder="Email" style="border-radius: 10px;"
                                           maxlength="100"
                                           name="email"
                                           value="{{ form.email.value|default_if_none:"" }}"
                                           required>
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="password" class="form-control"
                                           placeholder="Пароль" style="border-radius: 10px;"
                                           maxlength="100"
                                           name="password"
                                           required>
                                    <label for="floatingPassword">Пароль</label>
                                </div>
                                <div class="d-grid gap-4">
                                    <button class="btn btn-lg btn-primary" type="submit" style="border-radius: 10px;">
                                        Зарегистрироваться
                                    </button>
                                    <a class="btn btn-lg btn-secondary" type="button" href="/account/login"
                                       style="border-radius: 10px;">Вход</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}