{% extends 'base.html' %}

{% block content %}
    <section class="vh-100">
        <div class="container h-100" style="margin-top: -56px">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-10 col-lg-10 col-xl-9">
                    <div style="border-radius: 15px; background-color: #ececec">

                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Контрольные работы</h3>
                            {% for control_work in control_works %}
                                <div class="card text-start">
                                    <div class="card-header">
                                        Контрольная работа {{ control_work.id }}
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ control_work.control_name }}</h5>
                                        <p class="card-text">{{ control_work.control_desc }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                           data-bs-target="#controlWork1Modal">Посмотреть схему данных</a>
                                        <div class="modal fade" id="controlWork1Modal" tabindex="-1"
                                             aria-labelledby="controlWork1ModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="controlWork1ModalLabel">Ваша схема
                                                            данных для КР №1: </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {% load static %}
                                                        <img src="{% static img_1 %}" class="img-fluid"
                                                             alt="..." style="width: 100%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{% url 'control_work' control_work.id %}" class="btn btn-primary">Перейти
                                            к
                                            решению</a>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
