{% extends 'base.html' %}

{% block content %}
    <section class="vh-100">
        <div class="container h-100" style="margin-top: -56px">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-10 col-lg-10 col-xl-9">
                    <div style="border-radius: 15px; background-color: #ececec">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Контрольные работы</h3>
                            <div class="card text-start">
                                <div class="card-header">
                                    Контрольная работа №1
                                </div>
                                <div class="card-body ">
                                    <h5 class="card-title">Обычные запросы</h5>
                                    <p class="card-text">Время написания 10 лет. Даже, если не все правильно - ответ засчитывается.</p>
                                </div>
                                <div class="card-footer">
                                    <a type="button" class="btn btn-secondary">Посмотреть схему данных</a>
                                    <a href="#" class="btn btn-primary">Перейти к решению</a>
                                </div>
                            </div>
                            <div class="card text-start" style="margin-top: 25px">
                                <div class="card-header">
                                    Контрольная работа №2
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Запросы посложнее</h5>
                                    <p class="card-text">Время написания 1 час. Ошибки не допускаются.</p>
                                </div>
                                <div class="card-footer">
                                    <a type="button" class="btn btn-secondary">Посмотреть схему данных</a>
                                    <a href="#" class="btn btn-primary">Перейти к решению</a>
                                </div>
                            </div>
                            <div class="card text-start" style="margin-top: 25px">
                                <div class="card-header">
                                    Контрольная работа №3
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Очкорвательные запросы хуй напишешь</h5>
                                    <p class="card-text">Время написания 10 секунд. За дыхание штраф 10 секунд.</p>
                                </div>
                                <div class="card-footer">
                                    <a type="button" class="btn btn-secondary">Посмотреть схему данных</a>
                                    <a href="#" class="btn btn-primary">Перейти к решению</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}